/* 第一屏动画 */
.screen-1__heading,
.screen-1__phone,
.screen-1__shadow{
  transition: all 1s;
}
.screen-1__heading_animate_init,
.screen-1__phone_animate_init,
.screen-1__shadow_animate_init{
  opacity: 0;
  transform: translate(0, 100%);
}
.screen-1__heading_animate_done,
.screen-1__phone_animate_done,
.screen-1__shadow_animate_done{
  opacity: 1;
  transform: translate(0,0);
}
.screen-1__phone_animate_init{
  transform: translate(0, -100%);
}
/* 第二屏动画 */
.screen-2__heading,
.screen-2__subheading,
.screen-2__phone,
.screen-2__point{
  transition: all 1s;
}
.screen-2__heading_animate_init{
  opacity: 0;
  transform: translate(0, -100%);
}
.screen-2__subheading_animate_init{
  opacity: 0;
  transform: translate(0, 100%);
}
.screen-2__phone_animate_init{
  opacity: 0;
  transform: translate(0, 50%);
}
.screen-2__heading_animate_done,
.screen-2__subheading_animate_done,
.screen-2__phone_animate_done{
  opacity: 1;
  transform: translate(0,0);
}
.screen-2__point{
  transition: all .5s 1s;
}
.screen-2__point_done{
  opacity: 1;
  transform: translate(0,0);
}
.screen-2__point_i_1_animate_init{
  opacity: 0;
  transform: translate(-100%, 0);
}
.screen-2__point_i_2_animate_init,
.screen-2__point_i_3_animate_init{
  opacity: 0;
  transform: translate(100%, 0);
}
/* 第三屏动画 */
.screen-3__heading,
.screen-3__subheading,
.screen-3__phone,
.screen-3__features{
  transition: all 1s;
}
.screen-3__heading_animate_init{
  opacity: 0;
  transform: translate(0, -100%);
}
.screen-3__subheading_animate_init,
.screen-3__phone_animate_init{
  opacity: 0;
  transform: translate(0, 100%);
}
.screen-3__heading_animate_done,
.screen-3__subheading_animate_done,
.screen-3__phone_animate_done{
  opacity: 1;
  transform: translate(0,0);
}
.screen-3__features_animate_init{
  opacity: 0;
  transform: scale(.5);
}
.screen-3__features_animate_done{
  opacity: 1;
  transform: scale(1);
}
.screen-3__features__item{
  transition: all .5s;
  cursor: pointer;
}
.screen-3__features__item:hover{
  transform: scale(1.1);
  border-color: #fff;
}
/* 第四屏动画 */
.screen-4__heading,
.screen-4__subheading{
  transition: all 1s;
}
.screen-4__heading_animate_init{
  opacity: 0;
  transform: translate(0, -100%);
}
.screen-4__subheading_animate_init{
  opacity: 0;
  transform: translate(0, 100%);
}
.screen-4__heading_animate_done,
.screen-4__subheading_animate_done{
  opacity: 1;
  transform: translate(0,0);
}
.screen-4__type__item_i_1 {
  transition: all 1s .7s;
}
.screen-4__type__item_i_2 {
  transition: all 1s .9s;
}
.screen-4__type__item_i_3 {
  transition: all 1s 1.1s;
}
.screen-4__type__item_i_4 {
  transition: all 1s 1.3s;
}
.screen-4__type__item_i_1_animate_init,
.screen-4__type__item_i_2_animate_init,
.screen-4__type__item_i_3_animate_init,
.screen-4__type__item_i_4_animate_init {
  opacity: 0;
  transform: translate(0, 100%);
}
.screen-4__type__item_i_1_animate_done,
.screen-4__type__item_i_2_animate_done,
.screen-4__type__item_i_3_animate_done,
.screen-4__type__item_i_4_animate_done {
  opacity: 1;
  transform: translate(0,0);
}
/* 第五屏动画 */
.screen-5__heading,
.screen-5__subheading,
.screen-5__bg{
  transition: all 1s;
}
.screen-5__heading_animate_init{
  opacity: 0;
  transform: translate(0, -100%);
}
.screen-5__bg_animate_init,
.screen-5__subheading_animate_init{
  opacity: 0;
  transform: translate(0, 100%);
}
.screen-5__heading_animate_done,
.screen-5__subheading_animate_done,
.screen-5__bg_animate_done{
  opacity: 1;
  transform: translate(0,0);
}
/* 定义帧动画 */
@-webkit-keyframes bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
@-webkit-keyframes rock{
  0%{ transform:rotate(0deg) }
  10%{ transform:rotate(3deg) }
  20%{ transform:rotate(-3deg) }
  30%{ transform:rotate(2deg) }
  40%{ transform:rotate(-2deg) }
  50%{ transform:rotate(1deg) }
  60%{ transform:rotate(-1deg) }
  70%{ transform:rotate(0deg) }
  100%{ transform:rotate(0deg) }
}
@keyframes rock{
  0%{ transform:rotate(0deg) }
  10%{ transform:rotate(3deg) }
  20%{ transform:rotate(-3deg) }
  30%{ transform:rotate(2deg) }
  40%{ transform:rotate(-2deg) }
  50%{ transform:rotate(1deg) }
  60%{ transform:rotate(-1deg) }
  70%{ transform:rotate(0deg) }
  100%{ transform:rotate(0deg) }
}
/* 使用帧动画 */
.screen-2__point::before,
.screen-2__point::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,0,0,.4);
  border-radius: 50%;
  -webkit-animation: bounce 1.5s infinite;
  animation: bounce 1.5s infinite;
}
.screen-2__point::before {
  -webkit-animation: bounce 1.5s infinite 1s;
  animation: bounce 1.5s infinite 1s;
}
.screen-2__point_i_1::before,
.screen-2__point_i_1::after {
  left: 200px;
}
.screen-3__features_animate_done .screen-3__features-item_i_1{
  -webkit-animation: rock 2s infinite ease-in-out .5s;
  animation: rock 2s infinite ease-in-out .5s;
}
.screen-3__features_animate_done .screen-3__features-item_i_2{
  -webkit-animation: rock 2s infinite ease-in-out .8s;
  animation: rock 2s infinite ease-in-out .8s;
}
.screen-3__features_animate_done .screen-3__features-item_i_3{
  -webkit-animation: rock 2s infinite ease-in-out 1.3s;
  animation: rock 2s infinite ease-in-out 1.3s;
}
.screen-3__features_animate_done .screen-3__features-item_i_4{
  -webkit-animation: rock 2s infinite ease-in-out 1.5s;
  animation: rock 2s infinite ease-in-out 1.5s;
}