/*
BEM 设计模式

模块 （没有前缀，多个单词用 - 连接）
元素 （元素在模块之后，可以有多个层级）
*/
.header {
  background-color: #f7f7f7;
}
.header__wrap{
  width: 1200px;
  height: 60px;
  position: relative;
  margin: 0 auto;
}
.header__logo{
  width: 150px;
  height: 38px;
  line-height: 38px;
  font-size: 20px;
  color: #07111b;
  text-indent: 50px;
  background: url('../img/logo.png') left center no-repeat;
  background-size: 38px 38px;
  position: absolute;
  top: 50%;
  margin-top: -19px;
  left: 20px;
}
.header__nav{
  height: 38px;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -19px;
}
.header__nav-item{
  display: block;
  width: 30px;
  height: 38px;
  line-height: 38px;
  float: left;
  color: #292f35;
  font-size: 14px;
  text-align: center;
  position: relative;
  padding: 0 20px;
}
.header__nav-item:hover{
  color: #f01400;
}
.header__nav-item_status_active{
  color: #f01400;
}
.header__nav-item_custom_button{
  width: 90px;
  text-align: center;
  color: #f4f4f4;
  background: #000;
  border-radius: 3px;
  padding: 0;
  margin-left: 40px;
  display: block;
  height: 38px;
  line-height: 38px;
  float: left;
  font-size: 14px;
}
/* 第一屏 */
.screen-1 {
  height: 800px;
  background: url(../img/bg-screen-1.png) no-repeat center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.screen-1__heading {
  font-weight: normal;
  font-size: 46px;
  color: #4d555d;
  text-align: center;
  padding-top: 152px;
}
.screen-1__heading b{
  color: #f01400;
  font-weight: normal;
}
.screen-1__phone{
  width: 1375px;
  height: 305px;
  background: url(../img/screen-1-phone.png) no-repeat center;
  position: absolute;
  left: 50%;
  margin-left: -687px;
  bottom: 180px;
  z-index: 2;
}
.screen-1__shadow{
  width: 1233px;
  height: 411px;
  background: url(../img/screen-1-shadow.png) no-repeat center;
  position: absolute;
  left: 50%;
  margin-left: -616px;
  bottom: 30px;
  z-index: 1;
  opacity: 0.8;
}
/* 第二屏 */
.screen-2 {
  height: 800px;
  background-color: #fafafa;
  position: relative;
  overflow: hidden;
}
.screen-2__heading{
  font-weight: normal;
  font-size: 46px;
  line-height: 46px;
  color: #f01400;
  text-align: center;
  padding-top: 96px;
}
.screen-2__subheading{
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #2c3137;
  text-align: center;
  padding-top: 25px;
}
.screen-2__phone{
  width: 928px;
  height: 873px;
  background: url(../img/bg-screen-2.png) no-repeat center;
  position: absolute;
  left: 50%;
  margin-left: -464px;
  bottom: -345px;
  z-index: 2;
}
.screen-2__point{
  width: 108px;
  height: 22px;
  padding-right: 112px;
  font-size: 22px;
  line-height: 22px;
  color: #4d555d;
  background: url(../img/icon-point-right.png) no-repeat center right;
  position: absolute;
}
.screen-2__point_custom_right{
  padding: 0 0 0 112px;
  background: url(../img/icon-point-left.png) no-repeat center left;
}
.screen-2__point_i_1{
  top: 150px;
  left: -154px;
}
.screen-2__point_i_2{
  top: 50px;
  right: 150px;
}
.screen-2__point_i_3{
  top: 330px;
  right: 50px;
}
/* 第三屏 */
.screen-3 {
  height: 800px;
  background-color: #a71316;
  position: relative;
  overflow: hidden;
}
.screen-3__wrap {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  position: relative;
}
.screen-3__heading{
  font-size: 46px;
  line-height: 46px;
  color: #fff;
  text-align: left;
  padding-top: 94px;
}
.screen-3__subheading{
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  text-align: left;
  padding-top: 25px;
}
.screen-3__phone{
  width: 750px;
  height: 873px;
  background: url(../img/bg-screen-3.png) no-repeat center top;
  position: absolute;
  top: 195px;
  right: 0;
  z-index: 2;
}
.screen-3__features{
  position: absolute;
  top: 395px;
  left: 0;
  width: 320px;
  height: 280px;
}
.screen-3__features__item{
  width: 138px;
  height: 118px;
  border: 1px solid #cb7173;
  margin: 0 20px 20px 0;
  float: left;
  border-radius: 3px;
  color: #fff;
  text-align: center;
}
.screen-3__features__item__number{
  height: 36px;
  font-size: 36px;
  line-height: 36px;
  padding: 28px 0 8px;
}
.screen-3__features__item__desc{
  height: 14px;
  font-size: 14px;
  line-height: 14px;
}
/* 第四屏 */
.screen-4 {
  height: 800px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.screen-4__wrap {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  position: relative;
}
.screen-4__heading{
  font-size: 46px;
  line-height: 46px;
  color: #f01400;
  text-align: center;
  padding-top: 135px;
}
.screen-4__subheading{
  font-size: 14px;
  line-height: 28px;
  color: #464a4f;
  text-align: center;
  padding-top: 25px;
}
.screen-4__type{
  width: 1250px;
  height: 270px;
  position: absolute;
  top: 304px;
  margin-left: 30px;
}
.screen-4__type__item{
  width: 220px;
  margin-right: 90px;
  height: 270px;
  float: left;
  position: relative;
  text-align: center;
  background-size: cover;
}
.screen-4__type__item_i_1{
  background: url(../img/phone-1.png) no-repeat left top;
}
.screen-4__type__item_i_2{
  background: url(../img/phone-2.png) no-repeat left top;
}
.screen-4__type__item_i_3{
  background: url(../img/phone-3.png) no-repeat left top;
}
.screen-4__type__item_i_4{
  background: url(../img/phone-4.png) no-repeat left top;
}
.screen-4__type__item__color{
  width: 100%;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  color: #2c3338;
  position: absolute;
  bottom: -44px;
}
.screen-4__type__item__storage{
  width: 100%;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  color: #a4a9ae;
  position: absolute;
  bottom: -66px;
}
/* 第五屏 */
.screen-5 {
  height: 800px;
  background-color: #d9dde1;
  position: relative;
  overflow: hidden;
}
.screen-5__bg{
  width: 100%;
  height: 433px;
  background: url(../img/bg-screen-5.png) no-repeat bottom center;
  background-size: cover;
  position: absolute;
  bottom: -100px;
}
.screen-5__heading{
  font-size: 46px;
  line-height: 46px;
  color: #f01400;
  text-align: center;
  padding-top: 180px;
}
.screen-5__subheading{
  font-size: 14px;
  line-height: 28px;
  color: #464a4f;
  text-align: center;
  padding-top: 25px;
}
/* 第六屏 */
.screen-buy {
  height: 80px;
  padding: 120px 0;
  position: relative;
  overflow: hidden;
  background: #2b333b url(../img/bg-screen-buy.png) no-repeat center;
  text-align: center;
}
.screen-buy__button {
  height: 80px;
  width: 240px;
  text-align: center;
  line-height: 80px;
  font-size: 24px;
  color: #fff;
  background-color: #f01400;
  display: inline-block;
  border-radius: 3px;
  transition: all .5s;
}
.screen-buy__button:hover{
  color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.footer{
  height: 80px;
  line-height: 80px;
  background-color: #07111b;
  text-align: center;
  color: #fff;
}
.outline {
  position: fixed;
  padding: 5px 10px;
  right: 0;
  bottom: 120px;
  z-index: 3;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 4px 12px 0px rgba(7, 17, 27, 0.1);
}
.outline__item {
  display: block;
  width: 40px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 5px 0;
  background-color: #fff;
  border-top: 1px solid #eee;
  color: #93999f;
}
.outline__item:first-child{
  border: none;
}
.outline__item_status_active{
  color: #f00;
}
/* 导航条 _status_black 样式 */
.header {
  transition: all .5s;
}
.header_status_hideen {
  transform: translate(0,-100%);
}
.header_status_black{
  background-color: rgba(0,0,0,.65);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  transform: translate(0,0);
}
.header_status_black a{
  color: #fff;
  transition: all .5s;
}
.header_status_black .header__logo,
.header_status_black .header__nav-item {
  color: #fff;
}
.header_status_black .header__nav-item_status_active {
  color: #f00;
}
/* 大纲 _status_in 样式 */
.outline{
  transition: all 1s;
  transform: translate(100%,0);
  opacity: 0;
}
.outline_status_in {
  opacity: 1;
  transform: translate(0,0);
}

.header__nav-tip{
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #f00;
  bottom: 0;
  left: 0;
  margin-left: 10px;
  transition: all .5s;
}
