body {
  color: #555;
}

a:hover,
a:link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

img,
.side-bar .list-group-item,
.side-bar-card,
.side-bar-card .card-body .list .item:hover {
  border-radius: 5px;
}

.navbar-brand {
  background-image: url(../img/logo.png);
  width: 50px;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center center;
}

.side-bar .list-group-item {
  border: 0;
  margin-bottom: 5px;
  text-align: center;
}

.side-bar .list-group-item.active {
  background-color: #ea0c3c;
}

.news-list-item {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eee;
}

.news-list-item:first-child {
  padding-top: 0;
}

.news-list-item .title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
  line-height: 1.5;
}

.news-list-item .title:hover {
  color: #333;
}

.news-list-item .info {
  color: #888;
}

.avatar {
  display: inline-block;
}

.avatar img {
  display: inline-block;
  width: 20px;
  margin-right: 5px;
}

.side-bar-card {
  background: rgba(0, 0, 0, .05);
  margin-top: 15px;
  padding: 10px 0;
}

.side-bar-card.flag {
  padding-top: 20px;
  padding-bottom: 20px;
}

.side-bar-card .text-lg {
  font-size: 150%;
}

.side-bar-card .card-title,
.side-bar-card .card-body .list .item {
  padding: 10px 15px;
}

.side-bar-card .card-title {
  font-size: 18px;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 0;
}

.side-bar-card .card-body .list .item:hover {
  background: rgba(0, 0, 0, .07);
}

.card-body .list .item .title {
  padding-bottom: 5px;
}

.card-body .list .item .desc {
  color: #999;
}

.news-title {
  line-height: 1.5;
  color: #333;
}

.news-status {
  color: #999;
}

.news-status .label {
  opacity: 0.7;
}

.news-content {
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.5;
}

.news-content img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.no-padding-h {
  padding-left: 0;
  padding-right: 0;
}

.footer {
  margin-top: 30px;
  padding: 30px 0;
  background: #eee;
  text-align: center;
  color: #999;
}

.container-small {
  max-width: 500px;
}

.btn-primary {
  background-color: #ea0c3c;
  border-color: #db0d3a;
}

.btn-primary:hover,
.btn-primary:active:focus {
  background-color: #bd0930;
  border-color: #bd0930;
}

#toggle-checkbox:checked ~ div {
  display: block !important;
}

#toggle-label {
  position: absolute;
  right: 15px;
  top: 13px;
  font-size: 16px;
  font-weight: normal;
  color: #666;
  display: none;
}

#toggle-label:hover{
  color: #333;
}