blockquote,body,button,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}fieldset,img{border:0}
:link, :visited {
  text-decoration: none;
}
body {
  height: auto;
  min-height: 100%;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;
  color: #4a4a4a;
  background-color: #f5f5f5;
}
.has-navbar-fixed-top {
  padding-top: 40px;
}
.content {
  padding: 1rem;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.navbar-brand{
  height: 50px;
  font-size: 24px;
  text-align: center;
}
.content-list {
  border: 1px solid #cecece;
  border-radius: 4px;
  padding: 10px 15px;
  background: #fff;
}
.content-list-item {
  box-sizing: border-box;
  width: 100%;
  font-size: 15px;
  background: #fff;
  margin-bottom: 20px;
}
.content-title{
  height: 35px;
  line-height: 35px;
  position: relative;
}
.content-title a{
  color: #2177b8;
  font-size: 15px;
  font-weight: bold;
  padding: 0 5px 4px;
  position: relative;
  z-index: 1;
}
.content-title .headline {
  width: 100%;
  height: 3px;
  background: #efedf3;
  position: absolute;
  bottom: 1px;
}
.content-links {
  padding: 15px 5px;
}
.content-links .links_center{
  margin-right: 15px;
}
.content-links .links_center a{
  color: #333333;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 3px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.content-links .links_center a:hover{
  color: #2098D1;
}
.content-links .links_center a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2098D1;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.content-links .links_center a:hover:before {
  left: 0;
  right: 0;
}